<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <div id= "<%= student.id %>">
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= link_to 'Show', student, remote: true %></td>
        <td><%= link_to 'Edit', edit_student_path(student), remote: true %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
    <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id='abc'></div>
    </div>

  </div>
  </tbody>
</table>
<br>
